*{
    font-family: Arial, Helvetica, sans-serif;
}
span{
    font-size: 20px;
}

form{
    width: 650px;
    height:fit-content;
    box-shadow:rgba(29, 1, 16, 0.16) 0px 1px 4px, hsla(249, 51%, 38%, 0.011) 0px 0px 0px 3px;
    padding: 20px;
    text-align: center;
    background-color:wheat;
}
body{
    justify-content: center;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}